In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk

In [ ]:
data_df = pd.read_json('/content/drive/My Drive/AI/NetApp/train.json', orient='columns')

In [ ]:
data_df.head()

   id  ...                                  short_description
0   1  ...  She left her husband. He killed their children...
1   2  ...                           Of course it has a song.
2   3  ...  The actor and his longtime girlfriend Anna Ebe...
3   4  ...  The actor gives Dems an ass-kicking for not fi...
4   5  ...  The "Dietland" actress said using the bags is ...

[5 rows x 4 columns]

In [ ]:
data_df['category'].nunique()

41

In [ ]:
data_df=data_df.set_index('id')

In [ ]:
data_df['new_feat']= data_df['headline']+" " + data_df['short_description']

In [ ]:
data_df.head(2)

         category  ...                                           new_feat
id                 ...
1           crime  ...  There Were 2 Mass Shootings In Texas Last Week...
2   entertainment  ...  Will Smith Joins Diplo And Nicky Jam For The 2...

[2 rows x 4 columns]

In [ ]:
import string
import re

In [ ]:
data_df['new_feat']= data_df['new_feat'].str.replace("[^a-zA-Z#]"," ")

In [ ]:
print(data_df['new_feat'][3].lower())

hugh grant marries for the first time at age    the actor and his longtime girlfriend anna eberstein tied the knot in a civil ceremony

In [ ]:
data_df['new_feat']= data_df['new_feat'].apply(lambda x:x.lower())

In [ ]:
#for checking the lower 
data_df['new_feat'][2:4]

id
3    hugh grant marries for the first time at age  ...
4    jim carrey blasts  castrato  adam schiff and d...
Name: new_feat, dtype: object

In [ ]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
 
ps = PorterStemmer()


import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [ ]:
data_df['new_feat'][1]

'there were   mass shootings in texas last week  but only   on tv she left her husband  he killed their children  just another day in america '

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stopwords.words('english')

In [ ]:
sample = data_df['new_feat'][0:100000]

In [ ]:
sample[0:2]

id
1    there were   mass shootings in texas last week...
2    will smith joins diplo and nicky jam for the  ...
Name: new_feat, dtype: object

In [ ]:
df=data_df.iloc[0:100000,:]

In [ ]:
def text_process(mess):
    """
    1.remove punctutions
    2.remove stopwords
    3.return list of clean text words
    """
    #nopunc = [char for char in mess if char not in string.punctuation]
    #nopunc = ''.join(nopunc)
    return [word for word in mess.split() if word.lower() not in stopwords.words('english')]

In [ ]:
df['new']=sample.apply(text_process)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.head()

         category  ...                                                new
id                 ...
1           crime  ...  [mass, shootings, texas, last, week, tv, left,...
2   entertainment  ...  [smith, joins, diplo, nicky, jam, world, cup, ...
3   entertainment  ...  [hugh, grant, marries, first, time, age, actor...
4   entertainment  ...  [jim, carrey, blasts, castrato, adam, schiff, ...
5   entertainment  ...  [julianna, margulies, uses, donald, trump, poo...

[5 rows x 5 columns]

In [ ]:
text = df['new'][3]
text=' '.join(text)
text

'hugh grant marries first time age actor longtime girlfriend anna eberstein tied knot civil ceremony'

In [ ]:
df['new_Sen']=df['new'].apply(lambda lst : ' '.join(lst))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['new_Sen'][1:3]

id
2    smith joins diplo nicky jam world cup official...
3    hugh grant marries first time age actor longti...
Name: new_Sen, dtype: object

In [ ]:
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

In [ ]:
df['new_stemmed'] = df['new'].apply(lambda x: [stemmer.stem(i) for i in x]) # stemming

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
#df.to_csv("preprocessed_data.csv", sep='\t')

In [ ]:
# get some libraries that will be useful
import re
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# the Naive Bayes model
from sklearn.naive_bayes import MultinomialNB
# function to split the data for cross-validation
from sklearn.model_selection import train_test_split
# function for transforming documents into counts
from sklearn.feature_extraction.text import CountVectorizer
# function for encoding categories
from sklearn.preprocessing import LabelEncoder

In [ ]:

























news2 = df

In [ ]:
news2['new_stemmed']=news2['new_stemmed'].apply(lambda lst: ' '.join(lst))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# pull the data into vectors
vectorizer = CountVectorizer()
x = vectorizer.fit_transform(news2['new_stemmed'])

encoder = LabelEncoder()
y = encoder.fit_transform(news2['category'])

# split into train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

# take a look at the shape of each of these
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(80000, 37464)
(80000,)
(20000, 37464)
(20000,)

In [ ]:
nb = MultinomialNB()
nb.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
nb.score(x_test, y_test)

0.5839

In [ ]:
import xgboost as xgb

In [ ]:
clsf = xgb.XGBClassifier(n_estimators=100, learning_rate=0.05, subsample=0.75, max_depth=7).fit(x_train, y_train, sample_weight=None)

In [ ]:
predictions = clsf.predict(x_test)

In [ ]:
predictions

array([ 5, 17,  8, ..., 17, 17, 17])

In [ ]:
!pip install neo4j

Collecting neo4j
  Downloading https://files.pythonhosted.org/packages/ed/a9/248314080b0f875facf898fb270e99024a3d47edf4cdb01c87ff9c447151/neo4j-1.7.5.tar.gz
Collecting neobolt~=1.7.15
  Downloading https://files.pythonhosted.org/packages/9f/63/bb8b2ba18b4929c8bd17299d499530d6779635439e33bcc95043dc597223/neobolt-1.7.15.tar.gz (183kB)
     |████████████████████████████████| 184kB 9.6MB/s
Collecting neotime~=1.7.1
  Downloading https://files.pythonhosted.org/packages/0b/7e/ca368a8d8e288be1352d4e2df35da1e01f8aaffbf526695df71630bcb8a6/neotime-1.7.4.tar.gz
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from neotime~=1.7.1->neo4j) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from neotime~=1.7.1->neo4j) (1.12.0)
Building wheels for collected packages: neo4j, neobolt, neotime
  Building wheel for neo4j (setup.py) ... done
  Created wheel for neo4j: filename=neo4j-1.7.5-cp36-none-any.whl size=32520 sha256=5ddd7700068b7ff8a65e07e907506e8873103cf927b1c2186390a40b5e33f3e9
  Stored in directory: /root/.cache/pip/wheels/c0/dc/2e/6a26c3a5c63bb49a81092caa5ee48895971c0f229ee7900e7d
  Building wheel for neobolt (setup.py) ... done
  Created wheel for neobolt: filename=neobolt-1.7.15-cp36-cp36m-linux_x86_64.whl size=517086 sha256=e605b8b63296827022343f2d8cd89dd22a42dcc203ee9285665f1994a8d80545
  Stored in directory: /root/.cache/pip/wheels/42/54/00/270de525f8f966d864bd3a0224d38dca2573b53c1a54267720
  Building wheel for neotime (setup.py) ... done
  Created wheel for neotime: filename=neotime-1.7.4-cp36-none-any.whl size=20544 sha256=030bfd37b4191b00b43f14e2519b7157f60167d4d293ac007773cd59e0d103ac
  Stored in directory: /root/.cache/pip/wheels/d4/b4/c4/ab867cd0ac9e667f8cd269f9364fd1cb8ee75fe50f5ce97c79
Successfully built neo4j neobolt neotime
Installing collected packages: neobolt, neotime, neo4j
Successfully installed neo4j-1.7.5 neobolt-1.7.15 neotime-1.7.4

In [ ]:
from neo4j.v1 import GraphDatabase